{% extends "global/base.html" %} <!-- Conceito de Herança - Super Classe -->

{% block title %}Home |{% endblock title %}Home |

{% block content %} <!-- Bloco definido principal -->
    <div class="main-content main-content-list container">
        {% include "Recipes/partials/recipe.html" %} <!-- Inclusão do item da lista -->
        {% include "Recipes/partials/recipe.html" %} <!-- Inclusão do item da lista -->
        {% include "Recipes/partials/recipe.html" %} <!-- Inclusão do item da lista -->
        {% include "Recipes/partials/recipe.html" %} <!-- Inclusão do item da lista -->
        {% include "Recipes/partials/recipe.html" %} <!-- Inclusão do item da lista -->
        {% include "Recipes/partials/recipe.html" %} <!-- Inclusão do item da lista -->
        {% include "Recipes/partials/recipe.html" %} <!-- Inclusão do item da lista -->
    </div>
{% endblock content %}