<!-- Arquivo Base da Home Page -->
{% include "Recipes/partials/head.html" %}

<body>
    {% include "Recipes/partials/header.html" %}

    <!-- Formulário de Pesquisa -->
    <div class="search-container">
        <div class="container">
            <form action="" class="search-form"> 
                <input type="search" class= "search-input" name="search">
                <button type="submit" class= "search-button"><i class="fas fa-search"></i></button>
            </form>
        </div>
    </div>
</body>

</html>